﻿@using Headless.Extensions
@model Headless.Model.JsonFeed.PromotionViewModel


@if (Sitecore.Context.PageMode.IsNormal)
{
    @Html.Raw(Model.ToJson() + ",")
}
else
{
    <div>
        <label>
            Image:
            @Html.Sitecore().Field("Image")
        </label>
    </div>
    <div>
        <label>
            Url:
            @Html.Sitecore().Field("Url")
        </label>
    </div>
}